body {
  background: rgba(41,47,51,0.9);
}

.modal {
  positive: relative;
  margin: auto;
  width: 590px;
  height: 198px;
  border: 1px solid black;
}

.header {
  height: 40px;
  background-color: #E6E6E6;
}

.user-handle {
    margin-left: 5px;
    color: #989898;
}

img {
  max-height: 100%;
}

.chevron {
    max-height: 50%;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

.chevron {
    color: #686868;
}

.arrow-target {
    transform: scaleY(-1);
}

.arrow-target,
.camera {
    max-height: 65%;
    margin-top: 10px;
    margin-left: 10px;
}

.user,
.user-handle {
    display: inline-block;
    margin-bottom: 30px;
    vertical-align: middle;
}

.tweet {
  height: 118px;
  width: 586px;
  border: none;
  resize: none;
  background-color: #fff;
  overflow: scroll;
}

.footer {
  height: 40px;
  background-color: #fff;
  margin-top: -4px;
}

.characters-left {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}
