body {
  background: rgba(41,47,51,0.9);
}

.modal {
  positive: relative;
  margin: auto;
  width: 590px;
  height: 198px;
  border: 1px solid black;
}

.users {
    margin-top: 0px;
    margin-left: -1px;
    padding-left: 0px;
}

.user-suggestion {
    height: 40px;
    width: 590px;
    border: 1px solid black;
    background-color: #FFF;
}

.header {
  height: 40px;
  background-color: #E6E6E6;
}

.user {
    margin-left: 5px;
}

.user-handle {
    margin-left: 5px;
    color: #989898;
}

img {
  max-height: 100%;
}

.twitter-logo {
    max-height: 60%;
    margin-bottom: 6px;
}

.chevron {
    max-height: 50%;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

.chevron {
    color: #686868;
}

.arrow-target {
    transform: scaleY(-1);
}

.arrow-target,
.camera {
    max-height: 65%;
    margin-top: 10px;
    margin-left: 10px;
}

.user,
.user-handle {
    display: inline-block;
    margin-bottom: 30px;
    vertical-align: middle;
}

.tweet {
    padding: 10px;
    height: 122px;
    width: 570px;
    border: none;
    resize: none;
    background-color: #fff;
    overflow: scroll;
}

.tweet:focus {
    outline: none;
}

.invalid-length {
    color:red;
}

.footer {
  height: 40px;
  background-color: #fff;
  margin-top: -4px;
}

.characters-left {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}
